#main {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.blue {
    background-color: blue;
    color: white;
}

.red {
    background-color: red;
    color: wheat;
}